<!DOCTYPE html>
<html>
<head>
	<title>Exam</title>
</head>
<body>
<form method="POST" action="/quiz/evaluate/">
	{% csrf_token %}
	{% if questions %}
		{% for question in questions %}
			<p>{{question.question}}</p>
			<input type="radio" name="{{question.pk}}" value="op1"><p>{{question.op1}}</p>
			<input type="radio" name="{{question.pk}}" value="op2"><p>{{question.op2}}</p>
			<input type="radio" name="{{question.pk}}" value="op3"><p>{{question.op3}}</p>
			<input type="radio" name="{{question.pk}}" value="op4"><p>{{question.op4}}</p>
			<b>{{question.answer}}</b>
		{% endfor %}
	{% endif %}
	<input type="submit" name="submit">
</form>
</body>
</html>